.profile {
    
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    width: 300px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;
    
}

.profile img {
    width: 200px;
    border-radius: 50%;
    background-color: grey;
}

.profile ul {
    display: flex;
    list-style: none;
    width: 300px;
    padding: 0;
    margin: 0;
    border-top: 1px solid grey;
    background-color: rgb(241, 241, 241);
    border-radius: 0 0 6px 6px;
    
}

.profile li {
    display: flex;
    text-align: center;
    flex-direction: column;
     flex: 1;
    padding: 10px 0;
}

.profile li:nth-child(2) {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

.span {
    font-weight: 600;
}

.info  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    color: grey;
}

.name {
    color: black;
    font-weight: 700;
}